<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagex/png" href="static/images/aegis-logo.png">
    <title>Aegis Defender - Dashboard</title>
    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/colors.css">
</head>
<body>
    <div class="dashboard">
        <div class="dashboard-header">
            <div class="dashboard-header-left">
                <div class="dashboard-header-left-title">Ative o modo de execução <i class='bx bxs-error'></i></div>
                <ul class="dashboard-checks">
                    <li>
                        <div class="dashboard-check-button unchecked"></div> 
                        Modo de detecção em tempo real desativado
                    </li>
                    <li>
                        <div class="dashboard-check-button checked"></div> 
                        Consumo de memória baixa
                    </li>
                    <li>
                        <div class="dashboard-check-button checked"></div> 
                        Versão mais recente instalada
                    </li>
                </ul>
            </div>
            <div class="dashboard-header-right">
                <h1>Ativar detecção em tempo real:</h1>
                <div class="dashboard-header-button">
                    <div class="dashboard-header-button-cursor"></div>
                </div>
            </div>
        </div>
        <div class="dashboard-body">
            <div class="dashboard-body-cards">
                <a href="#">
                    <div class="dashboard-body-card style-1">
                        <i class='bx bx-notepad'></i>
                        <h1>Logs</h1>
                    </div>
                </a>
                <a href="#">
                    <div class="dashboard-body-card style-1">
                        <i class='bx bx-timer'></i>
                        <h1>Backup</h1>
                    </div>
                </a>
                <a href="/processes">
                    <div class="dashboard-body-card style-1">
                        <i class='bx bx-shield-alt-2' ></i>
                        <h1>Processos</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="static/js/dashboard.js"></script>
</body>
</html>