<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagex/png" href="static/images/aegis-logo.png">
    <title>Aegis Defender - Dashboard</title>
    <!-- Boxicons -->
    <link href="static/boxicons-2.1.4/css/boxicons.min.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/colors.css">
</head>
<body>
    <div class="dashboard">
        <div class="dashboard-header">
            <div class="dashboard-header-left">
                <div class="dashboard-header-left-title">Activate run mode <i class='bx bxs-error'></i></div>
                <ul class="dashboard-checks">
                    <li>
                        <div class="dashboard-check-button unchecked"></div> 
                        Real-time detection mode disabled
                    </li>
                    <li>
                        <div class="dashboard-check-button checked"></div> 
                        Low memory consumption
                    </li>
                    <li>
                        <div class="dashboard-check-button checked"></div> 
                        Updated latest version
                    </li>
                    <li>
                        <div class="dashboard-check-button checked"></div> 
                        Processes analyzed:
                    </li>
                </ul>
            </div>
            <div class="dashboard-header-right">
                <h1>Enable real-time detection:</h1>
                <div class="dashboard-header-button">
                    <div class="dashboard-header-button-cursor"></div>
                </div>
            </div>
        </div>
        <div class="dashboard-body">
            <div class="dashboard-body-cards">
                <a href="#">
                    <div class="dashboard-body-card style-1">
                        <i class='bx bx-notepad'></i>
                        <h1>Logs</h1>
                    </div>
                </a>
                <a href="#">
                    <div class="dashboard-body-card style-1">
                        <i class='bx bx-timer'></i>
                        <h1>Backup</h1>
                    </div>
                </a>
                <a href="/processes">
                    <div class="dashboard-body-card style-1">
                        <i class='bx bx-shield-alt-2' ></i>
                        <h1>Processes</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="static/js/dashboard.js"></script>
    <script src="static/js/process.js"></script>
</body>
</html>