<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagex/png" href="static/images/aegis-logo.png">
    <title>Aegis Defender - Processes</title>
    <!-- Boxicons -->
    <link href="static/boxicons-2.1.4/css/boxicons.min.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/colors.css">
</head>
<body onload="list_and_show_processes_analyzed()">
    <div class="processes">
        <a href="/" id="return-button"><i class='bx bx-chevrons-left'></i>Return</a>
        <h1>Processes analyzed:</h1>
        <table>
            <tr class="indicators">
                <th>Index</th>
                <th>Name</th>
                <th>SID</th>
                <th>Status</th>
            </tr>
        </table>
    </div>
    <!-- Scripts -->
    <script src="static/js/process.js"></script>
</body>
</html>