:root {
    --white: #fff;
    --purple: #c400ff;
    --purple-2: #241e2d;
    --purple-3: #6800ff;
    --purple-4: #eaa7ff;
    --purple-low-opacity: #c300ff1e;
    --black: #121212;
    --checked: #15f700;
    --unchecked: #d11717;
    --suspect: #ffea2b;
}